.planos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 50px 0;
}

.planos_item {
    border: 1px solid #1a0279;
    width: 80vw;
    
    padding: 10px;
    text-align: center;
}

.planos_item > span, p {
    color: #6852c0;
    font-weight: bold;
}

.planos_item > span {
    display: flex;
    justify-content: left;
    padding-left: 30px;
}

.planos_item > ul > li {
    padding: 10px 0;
    text-align: left;
}

.planos_btn {
    background-color: #1a0279;
    padding: 5px 18px;
    margin: 15px 0;
    font-family: "Fuzzy Bubbles", sans-serif;
    color: #fff;
    border: none;
    font-size: 1rem;
}

.planos_btn:hover {
    background-color: #2704b6;
}

.planos_price {
    font-size: 2rem;
}

@media (min-width: 600px) {
    .planos_item {
        width: 400px;
        height: 330px;
    }
}