.quizz_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px;
    padding: 10px;
    border: 1px solid gray;
}

.quizz_container > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    font-weight: bold;
}

.quizz_container > div > span,
.notSelected {
    padding: 8px 18px;
    border: 1px solid #1a0279;
    border-radius: 8px;
    margin: 10px;
}

.quizz_container > div > span:hover {
    cursor: pointer;
    background-color: #1a0279;
    color: #fff;
}

.selected {
    background-color: #1a0279;
    color: #fff;
}

.showPoints {
    display: flex;
    flex-direction: column;
}